<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="default,dev">
        <root level="${logging.level.root:DEBUG}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.tibor17.wwws" additivity="false" level="${logging.level.app:DEBUG}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="${logging.level.webfilter:TRACE}" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </logger>
        <property name="LOG_PATH" value="./target/logs"/>
    </springProfile>
    <springProfile name="prod">
        <root level="${logging.level.root:WARN}">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.tibor17.wwws" level="${logging.level.app:WARN}" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
        <property name="LOG_PATH" value="/var/log/pods"/>
        <property name="LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START" value="true"/>
    </springProfile>
    <springProfile name="!(default,dev,prod)">
        <root level="${logging.level.root:INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.tibor17.wwws" level="${logging.level.app:INFO}" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="${logging.level.webfilter:TRACE}" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </logger>
        <property name="LOG_TEMP" value="/tmp/java-application"/>
        <property name="LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START" value="true"/>
    </springProfile>
    <property name="LOG_FILE" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/java-container-application.log"/>
<!--    <property name="FILE_LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n"/>-->
    <property name="FILE_LOG_CHARSET" value="UTF-8"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE" value="10MB"/>
    <property name="LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP" value="100MB"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_HISTORY" value="10"/>
<!--    <property name="CONSOLE_LOG_PATTERN" value="%cyan(%d{dd-MM-yyyy HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %gray(%logger{36}.%M) - %msg%n"/>-->
    <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>
</configuration>